[package]
name = "valence-coprocessor-core"
version = { workspace = true }
edition = { workspace = true }
authors = { workspace = true }
description = "Sparse Merkle tree implementation for the Valence protocol"

[dependencies]
blake3 = { version = "=1.6.1", optional = true, default-features = false }
sha2 = { version = "0.10.8", optional = true }

[features]
default = ["blake3", "std"]
blake3 = ["dep:blake3"]
sha2 = ["dep:sha2"]
std = ["blake3?/std"]
