name: test for main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Ensures that only a single workflow per PR will run at a time. Cancels in-progress jobs if new commit is pushed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  test-all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get cargo
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: default
          override: true
          default: true
          components: llvm-tools, rustc-dev

      - name: Add WASM target
        run: rustup target add wasm32-unknown-unknown

      # SP1 is too expensive to run on CI
      #- name: Install SP1 toolchain
      #  run: |
      #    curl -L https://sp1up.succinct.xyz | bash
      #    ~/.sp1/bin/sp1up 
      #    ~/.sp1/bin/cargo-prove prove --version

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --all-targets --verbose -- -D warnings

      #- name: Run all tests
      #  run: cargo test --verbose -- --ignored
      #  env:
      #    RUST_BACKTRACE: 1

      - name: Run all tests
        run: cargo test --verbose -- --ignored
        env:
          RUST_BACKTRACE: 1
